# Set default behavior to automatically normalize line endings.
* text=auto

# Handle specific files with LF line endings.
*.sh text eol=lf
*.csh text eol=lf
*.fish text eol=lf
*.py text eol=lf
*.bin binary

# Ensure binary files are not converted.
*.jpg binary
*.png binary
*.exe binary
*.dll binary
